<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ttsproj.projectericlite">

<uses-sdk android:minSdkVersion="16"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
            android:icon="@drawable/ericicondemo" android:label="Project Eric Lite">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity android:name=".activity_vision"
                         android:label="@string/app_name"
                         android:screenOrientation="landscape"
                         android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>

        <activity android:name=".activity_hearing"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>

        <activity android:name=".activity_display"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>

        <activity android:name=".activity_main"
             android:screenOrientation="landscape"
             android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
         </activity>

        <activity android:name=".activity_home"
                  android:screenOrientation="landscape"
                  android:exported="true"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>



        <activity android:name=".activity_emergency"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

        <activity android:name=".activity_response"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity_visionMain"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity_hearingMain"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity_nonEnglishMain"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity_cognitive"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity_cognitiveMain"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".activity_tutorials"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity android:name=".activity_visiontutorial"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity android:name=".activity_setting"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>




    </application>
</manifest>
